:root{
 --bttn-backcolor: rgb(0, 120, 242);
 --ftter-backcolor:#2e333b;
 --teamcard-box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 --portfol-cardbox: 0px 1px 3px rgba(194, 194, 194, 0.12), 0px 1px 1px rgba(255, 243, 243, 0.14), 0px 2px 1px rgba(197, 197, 197, 0.2);
 --divdown-portfol: 1px solid gray;
 --heds-afootshover-adec: blue;
 --adecs: black;
 --title-afoot-hr-div1234: gray;
 --lidivdown-mainsec: white ;
 --bbtn-portfol:rgb(245,244,250);
 --mainsecback: #212121;
 --headmrgn: rgb(26,26,26);
 --lowdiv:#F5F4FA;
 --linkusya:#2e8ddb;
 --leftp:rgb(100, 100, 100);
 --btn-portfol1:#757575;
}

body{
font-family:"Roboto", 'sans-serif'  ;
}

hr{
   margin-top: 25px;
   width: 100%;
   color: var(--heds-afootshover-adec);
   }
 
 body {
   font-family: sans-serif;
}


footer{
   margin-bottom: -20px;
   margin-top: -16px;
   margin-left: -10px;
   width:101.2%;
   background-color:var(--ftter-backcolor);
   height:320px;
}

.main_bttn{
    
   font-weight: 700;
   letter-spacing: 4px;
   font-style: normal;
}
.main_h2_down1 {
   margin-top: 160px;
   font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;

   text-align: center;
   
}
h3{
text-align: center;
}
ul {
   list-style-type: none;
}
button {
   background-color:var(--bttn-backcolor);
   color: var(--lidivdown-mainsec);
   padding-top: 20px;
   padding-left: 45px;
   padding-right: 45px;
   padding-bottom: 20px;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   font-family: sans-serif;
   letter-spacing: 1px;
}

header {
   margin-top: 15px;
}


.head_span {
   color: var(--heds-afootshover-adec);
   
}

.head_ul_li {

   padding-right: 45px;
}


.li1_h3,
.li2_h3, 
.li3_h3, 
.li4_h3{
   line-height: 0.8;
   font-weight: 700;
   letter-spacing: 3%;
   font-style: normal;
}
.li1_h3{
margin-left: -1021px;
   }
.li2_h3{
   margin-left: -313px;
   margin-top: -138.7px;
   }
.li3_h3{
      margin-left: 395px;
      margin-top: -115.5px;
   }
.li4_h3{
         margin-left: 1095px;
         margin-top: -116px;
   }
.leftp1,
.leftp2,
.leftp3,
.leftp4{
   color: var(--leftp);
   font-family: Roboto;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.7;
   letter-spacing: 0.03em;
   text-align: left;   
   font-style: normal;
}
.leftp1{
margin-left: 148px;
}
.leftp2{
margin-left: 500px;
}
.leftp3{
margin-left: 876px;}
.leftp4{
margin-left: 1186px;}

.none_seen_text,
.none_seen_text1{
   text-align: center;
   align-self: center;
   user-select: none;
   color: transparent;
}

.head_ul_li {
   color: var(--adecs);
   text-decoration: none;
   margin-left: 5px;
   margin-right: 25px;
   font-weight: 700;
   letter-spacing: 0.02em;
   font-style: normal;
   line-height: 1.02;
   height: 16px;
}

.head_ul_li:hover {
   color: var(--heds-afootshover-adec);
}



.head_ul1,
.head_ul2,
li,
span,
.ulmain {
   display: inline;
}

.head_ul2 {
   margin-left: 155px;
   color: var(--heds-afootshover-adec);
    
   font-weight: 500;
   font-style: italic;
}

.head_ul1 {
   margin-left: -25px;
}

.head_nav {
   display: inline;
    
   font-weight: 500;
   font-style: italic;
}

.head_a {
   margin-right: 55px;
   margin-left: 223px;
   color:var(--headmrgn);
   text-decoration: none;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   line-height: 2.25;
   font-style: normal;
}


.main_section1 {
   align-items: center;
   text-align: center;
   background-color: var(--mainsecback);
   color: var(--lidivdown-mainsec);
   margin-top: 16px;
   margin-left: -10px;
   letter-spacing: 2px;
   position: absolute;
   width: 100%;
   height: 600px;
   font-weight: 900;
   

}

.main_section_h1 {
   margin-top: 195px;
   font-size: 44px;
   font-family: "Roboto", sans-serif;
   font-weight: 900px;
   line-height: 1.8;
   letter-spacing: 0.06em;
}

.main_h2_down2 {
   margin-top: 195px;
   font-size: 45px;
   text-align: center;
}

.mainli{
margin-left: 165px;
}


.main_div{
   position: relative;
   display: inline-block;
   
   left: 320px;
}

.main_img1,
.main_img2,
.main_img3{
   width:300px;
   height: 300px;
 margin-top:30px ;

}
.main_img1,
.main_img3   {
   margin-left: 135px;
}
.main_img2{
   margin-left: 125px;
}
.main_section3{
background-color: var(--lowdiv);
width: 101.2%;
height: 923px;
text-align: center;
margin-top:120px;
margin-left: -10px;

}
.section3_h2{
padding-top: 110px;
padding-bottom: 15px;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.03em;
text-align: center;

}
.teamcard_img1,
.teamcard_img2,
.teamcard_img3,
.teamcard_img4{
width: 270px;
height: 260px;
position:absolute;
}
.teamcard_img1{
   margin-left:-650px;

}
.teamcard_img2{
   margin-top: -436px;
 margin-left: -283px;
}
.teamcard_img3{
   margin-top: -436px;
 margin-left: 63px;
}
.teamcard_img4{
   margin-top: -436px;
 margin-left: 403px;
}
.employers_name{
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.3;
letter-spacing: 0.03em;


}
.teamcard_h3{
   font-family: Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.3;
   letter-spacing: 0.03em;
   text-align: center;
   
text-align: center;
   color: #757575;
}
.section3_img1_div,
.section3_img2_div2,
.section3_img3_div3,
.section3_img4_div4{
text-align: center;
background-color: var(--lidivdown-mainsec);
padding-top:5px;
width: 270px;
height: 140.75px;
}
.teamcard{  
   box-shadow:var(--teamcard-box);

}
.section3_img1_div{
padding-top:293px;
margin-left: 90.7px;
}
.section3_img2_div2{
margin-left: 457.7px;
margin-top: -178px;
padding-top:38px;
   }
.section3_img3_div3{
   margin-left: 803.7px;
   margin-top: -178px;
   padding-top:38px;
   }
.section3_img4_div4{
   margin-left: 1143.7px;
   margin-top: -178px;
   padding-top:38px;
   }

.footer_Studio_div{
position: absolute;
margin-top: 15px;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-style: italic;
font-size:28px
}

div.footer_Studio_div:nth-child(2){
   color: var(--linkusya);
}

a.footer_link1{
   color:var(--lidivdown-mainsec);
   margin-left: 157px;
   margin-top: 100.5px;
   position: absolute;

}
.footer_blueWEBtext{
   color: var(--linkusya);
   position: absolute;
   padding-left: 192px;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-style: italic;
   font-size:26px;
   padding-top: 50px;
   letter-spacing: 0.03em;
   line-height: 1.2;
}

.footer_webstudio_link{
   padding-top:52px;
   position: absolute;
   padding-left: 252px;
   line-height: 1;
   color: var(--lidivdown-mainsec);
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-style: italic;
   font-size:28px;
}
.footer_link1{
   margin-left: 157px;
   margin-top: 121px;
   padding-top: 15px;
   position: absolute;
   line-height: 1;
   font-size: 14px;
   letter-spacing: 0.03em;
}
.footer_link2{
margin-left: 157px;
margin-top: 128px;
position: absolute;
line-height: 1;
font-size: 14px;
letter-spacing: 0.03em;
}
.footer_link3{

   margin-left: 157px;
   margin-top: 138.5px;
   position: absolute;
   }
.footer_link1,
.footer_link2,
.footer_link3{
   font-family:  'Roboto'sans-serif;
   font-weight: 500;
   color:var(--leftp);
   line-height: 2.9;
}
.footer_link1:hover,
.footer_link3:hover,
.footer_link2:hover{
   color:var(--linkusya);;
   }

 


.headerportfol{
padding-top: 6.5px;
}
.main_ul_portfolfol{
top: 125px;
left: 24%;
position: absolute;
}
.bttn_portfolfol{
background-color: var(--bbtn-portfol);
color: var(--adecs);
 
font-weight: 650;
font-style: normal;
}
.bttn_portfolfol:hover{
background-color:var(--bttn-backcolor);
}
.offers_section{
   margin-top: 180px;
   text-align: center;
   align-self: center;
   margin-left: 16%;
}
.offer_div1,
.offer_div2,
.offer_div3
{
   text-align: left;
   border: var(--divdown-portfol);
   padding-top:5px;
   width: 269px;
   height: 140.75px;
   margin-bottom:10px ;
}

.offer_div1{

   padding-top:260px;
   margin-left: 1px;
   margin-bottom: 55px;
   padding-bottom: -25px;
   height: 99px;
}
.offer_div2{
   padding-top: 38px;
   margin-left: 328px;
   margin-top: -199px;
   height: 104.75px;

}
.offer_div3{
   margin-left: 656px;
   margin-top: -212px;
   padding-top:99px;
   width: 268px;
   padding-bottom: -26px;
   height: 101.75px;
}
.offer_div4,
.offer_div5,
.offer_div6
{
   text-align: left;
   border: var(--divdown-portfol);
   padding-top:5px;
   width: 269px;
   height: 140.75px;
   margin-bottom:10px ;
}

.offer_div4{

   padding-top:260px;
   margin-left: 1px;
   margin-bottom: 55px;
   padding-bottom: -25px;
   height: 100px;
   margin-top: 50px;
}
.offer_div5{
   padding-top: 59px;
   margin-left: 328px;
   margin-top: -219px;
   height: 100.75px;

}
.offer_div6{
   margin-left: 656px;
   margin-top: -212px;
   padding-top:99px;
   width: 268px;
   padding-bottom: -26px;
   height: 101.75px;
}
.offer_name{
   text-align: left;
   padding-left: 15px;
    
   font-weight: 500;
   font-style: normal;
   }
   .offer_specialization{
      text-align: left;
      padding-left: 15px;
      color: var(--title-afoot-hr-div1234);
       
      font-weight: 500;
      font-style: normal;
        
   }
   .offer_specialization1{
      text-align: left;
      padding-left: 15px;
      margin-top: -10px;
      color: var(--title-afoot-hr-div1234);  
   }
.offers{  
   box-shadow: var(--portfol-cardbox);
   text-align:left;

   }
   .offers_img1,
   .offers_img2,
   .offers_img3{
      width: 270px;
height: 260px;
position:absolute;
   }
   .offers_img1{
      margin-left:-610px;
      
   }
   .offers_img2{
      margin-top: -417px;
      margin-left: -283px;
     
   }
   .offers_img3{
      margin-top: -371px;
      margin-left: 45px;
   }
   .offers_img4,
   .offers_img5,
   .offers_img6{
      width: 270px;
height: 260px;
position:absolute;
   }
   .offers_img4{
      margin-left:-610px;
  margin-top: 40px;
   }
   .offers_img5{
      margin-top: -417px;
      margin-left: -283px;
     
   }
   .offers_img6{
      margin-top: -370px;
      margin-left: 45px;}
      .offers_marginbottom_portfolf{
         margin-bottom: 75px;
      }
      a:link {
         text-decoration: none;
      }
