:root{
 --bttn-backcolor: rgb(0, 120, 242);
 --ftter-backcolor:#2e333b;
 --teamcard-box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 --portfol-cardbox: 0px 1px 3px rgba(194, 194, 194, 0.12), 0px 1px 1px rgba(255, 243, 243, 0.14), 0px 2px 1px rgba(197, 197, 197, 0.2);
 --divdown-portfol: 1px solid #EEEEEE;
 --web-site-logo: blue;
 --adecs: black;
 --title-afoot-hr-div1234: gray;
 --white-color: white ;
 --bbtn-portfol:rgb(245,244,250);
 --mainsectionback: #212121;
 --site-logo-black: rgb(26,26,26);
 --lowdiv:#F5F4FA;
 --linkusya:#2e8ddb;
 --leftp:rgb(100, 100, 100);
 --options-buttons-color:#212121;
}

body{
font-family:"Roboto", 'sans-serif'  ;
}

hr{
   margin-top: 25px;
   color: var(--web-site-logo);
   }
 
 body {
   font-family: sans-serif;
}


footer{
   margin-bottom: -20px;
   margin-top: -16px;
   margin-left: -10px;
   width:1600;
   background-color:var(--ftter-backcolor);
   height:252px;
}
.company_details{
   padding-top: 680px;
}

.main_h2_down1 {
   margin-top: 160px;
   font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;

   
}
h3{
text-align: center;
}
ul {
   list-style-type: none;
}
.order{
   background-color:var(--bttn-backcolor);
}
button {
   color: var(--white-color);
   padding-top: 20px;
   padding-left: 45px;
   padding-right: 45px;
   padding-bottom: 20px;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   font-family: sans-serif;
   font-weight: 700;
   letter-spacing: 4px;
   font-style: normal;
}

header {
   height: 35px;
   padding-top: 15px;
}


.header_Web {
   color: var(--web-site-logo);
   
}

.header_ul_li {
   color: var(--adecs);
   text-decoration: none;
   margin-right: 25px;
   letter-spacing: 0.02em;
   font-style: normal;
   line-height: 16.41px;
   font-family: Roboto;
   font-size: 14px;
   font-weight: 500;
   text-align: left;

}
.header_ul_li:nth-child(1){
   margin-left:65px ;
}


.li1_h3,
.li2_h3, 
.li3_h3, 
.li4_h3{
   font-family: Roboto;
   font-size: 14px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0.03em;
   text-align: left;
   
}
.li1_h3{
margin-left: 151px;
   }
.li2_h3{
   margin-left: 500px;
   margin-top: -165.7px;
   }
.li3_h3{
      margin-left: 875px;
      margin-top: -140.5px;
   }
.li4_h3{
         margin-left: 1185px;
         margin-top: -142.5px;
   }
.h3_p1,
.h3_p2,
.h3_p3,
.h3_p4{
   color: var(--leftp);
   font-family: Roboto;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.03em;
   text-align: left;   
   font-style: normal;
   white-space: pre-line;
}
.h3_p1{
margin-left: 151px;
}
.h3_p2{
margin-left: 500px;
}
.h3_p3{
margin-left: 876px;}
.h3_p4{
margin-left: 1186px;}

.none_seen_text{
   text-align: center;
   align-self: center;
   user-select: none;
   color: transparent;
}



.header_ul_li:hover {
   color: var(--web-site-logo);
}



.header_ul1,
.header_ul2,
li,
span,
.main_ul {
   display: inline;
}

.header_ul2 {
   margin-left: 155px;
   color: var(--web-site-logo);
    
   font-weight: 500;
   font-style: italic;
}

.header_ul1 {
   padding-left: -25px;
}

.header_nav {
   display: inline;
    
   font-weight: 500;
   font-style: italic;
}

.site-logo {
   font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
   color:var(--site-logo-black);
   padding-left: 190px;
   padding-top: auto;
}


.business_solution_background {
   align-items: center;
   text-align: center;
   background-color: var(--mainsectionback);
   color: var(--white-color);
   margin-top: 16px;
   margin-left: -10px;
   letter-spacing: 2px;
   position: absolute;
   width: 100%;
   height: 600px;
   font-weight: 900;
   

}

.business_solution {
   margin-top: 125px;
   font-size: 44px;
   font-family: "Roboto", sans-serif;
   font-weight: 900px;
   line-height: 60px;
   letter-spacing: 0.06em;
   white-space: pre-line;
}

.main_h2_down2 {
   margin-top: 195px;
   font-size: 45px;
   text-align: center;
}

.main_li{
margin-left: 165px;
}


.main_div{
   position: relative;
   display: inline-block;
   
   left: 320px;
}

.main_img1,
.main_img2,
.main_img3{
   width:300px;
   height: 300px;
 margin-top:30px ;

}
.main_img1,
.main_img3   {
   margin-left: 135px;
}
.main_img2{
   margin-left: 125px;
}
.main_section3{
background-color: var(--lowdiv);
width: 100%;
height: 648px;
text-align: center;
margin-top:120px;
margin-left: -10px;

}
.section3_h2{
padding-top: 101px;
padding-bottom: 15px;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
text-align: center;

}
.teamcard_img1,
.teamcard_img2,
.teamcard_img3,
.teamcard_img4{
width: 270px;
height: 260px;
position:absolute;
}
.teamcard_img1{
   margin-left:-650px;

}
.teamcard_img2{
   margin-top: -436px;
 margin-left: -283px;
}
.teamcard_img3{
   margin-top: -436px;
 margin-left: 63px;
}
.teamcard_img4{
   margin-top: -436px;
 margin-left: 403px;
}
.employers_name{
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
letter-spacing: 0.03em;


}
.teamcard_spealization{
   font-family: Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 18.75px;
   letter-spacing: 0.03em;
   text-align: center;
   margin-bottom: 100px;
   
text-align: center;
   color: #757575;
}
.img1_div1,
.img2_div2,
.img3_div3,
.img4_div4{
text-align: center;
background-color: var(--white-color);
padding-top:5px;
width: 270px;
height: 140.75px;
}
.teamcard{  
   box-shadow:var(--teamcard-box);

}
.img1_div1{
padding-top:293px;
margin-left: 90.7px;
}
.img2_div2{
margin-left: 457.7px;
margin-top: -178px;
padding-top:38px;
   }
.img3_div3{
   margin-left: 803.7px;
   margin-top: -178px;
   padding-top:38px;
   }
.img4_div4{
   margin-left: 1143.7px;
   margin-top: -178px;
   padding-top:38px;
   }

.footer_Studio_div{
position: absolute;
margin-top: 15px;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-style: italic;
font-size:28px
}

div.footer_Studio_div:nth-child(2){
   color: var(--linkusya);
}

a.location{
   color:var(--white-color);
   margin-left: 157px;
   margin-top: 76.5px;
   position: absolute;

}
.footer_site_logo_web{
   color: var(--linkusya);
   position: absolute;
   padding-left: 192px;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-style: italic;
   font-size:26px;
   padding-top: 7px;
   letter-spacing: 0.03em;
   line-height: 30.52px;
}

.footer_studio_web{
   padding-top:9px;
   position: absolute;
   padding-left: 252px;
   line-height: 30.52px;
   color: var(--white-color);
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-style: italic;
   font-size:28px;
}
.location{
   margin-left: 157px;

   position: absolute;
   line-height: 24px;
   font-size: 14px;
   letter-spacing: 0.03em;
}
.e_mail{
margin-left: 157px;
margin-top: 105px;
position: absolute;
line-height: 24px;
font-size: 14px;
letter-spacing: 0.03em;
}
.phone_number{
   line-height: 24px;
   margin-left: 157px;
   margin-top: 130.5px;
   position: absolute;
   }
.location,
.e_mail,
.phone_number{
   font-family:  'Roboto'sans-serif;
   font-weight: 500;
   color:var(--leftp);
   line-height: 24px;
}
.location:hover,
.phone_number:hover,
.e_mail:hover{
   color:var(--linkusya);;
   }

.li_button:hover{
background-color:var(--bttn-backcolor);
}
.offers_section{
   margin-top: 180px;
   text-align: center;
   align-self: center;
   margin-left: 16%;
}
.offer_div1,
.offer_div2,
.offer_div3,
.offer_div4,
.offer_div5,
.offer_div6
{
   text-align: left;
   border: var(--divdown-portfol);
   padding-top:5px;
   width: 349px;
   height: 140.75px;
   margin-bottom:10px ;
   padding-left: 20px;
}

.offer_div1{

   padding-top:290px;
   margin-left: -85px;
   margin-bottom: 55px;
   padding-bottom: -95px;
   height: 99px;
}
.offer_div2{
   padding-top: 38px;
   margin-left: 328px;
   margin-top: -195px;
   height: 104.75px;
}
.offer_div3{
   margin-left: 736px;
   margin-top: -212px;
   padding-top:99px;
   padding-bottom: -26px;
   height: 101.75px;
}
.offer_div4{

   padding-top:290px;
   margin-left: -84px;
   margin-bottom: 55px;
   padding-bottom: -25px;
   height: 100px;
   margin-top: 50px;
}
.offer_div5{
   padding-top: 59px;
   margin-left: 328px;
   margin-top: -219px;
   height: 100.75px;

}
.offer_div6{
   margin-left: 736px;
   margin-top: -212px;
   padding-top:99px;

   padding-bottom: -26px;
   height: 101.75px;
}
.offer_name{
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

   }
   .offer_specialization{
      text-align: left;
      color: var(--title-afoot-hr-div1234);

      margin-top: -10px;
      font-weight: 500;
      font-style: normal;
        
   }

.offers{  
   box-shadow: var(--portfol-cardbox);
   text-align:left;
   }
   .offer_img1,
   .offer_img2,
   .offer_img3,
   .offer_img4,
   .offer_img5,
   .offer_img6{
      width: 370px;
height: 294px;
position:absolute;
   }
   .offer_img1,
   .offer_img4{
      margin-left:-702.5px;
      
   }
   .offer_img2{
      margin-top: -446px;
      margin-left: -289.8px;
     
   }
   .offer_img3{
      margin-top: -400px;
      margin-left: 118.2px;
   }

   .offer_img4{
  margin-top: 40px;
   }
   .offer_img5{
      margin-top: -446px;
      margin-left: -289.9px;
     
   }
   .offer_img6{
      margin-top: -399px;
      margin-left: 118.2px;
   }
      .offers_marginbottom_portfol{
         margin-bottom: 75px;
      }
      a:link {
         text-decoration: none;
      }
      .main_ul_portfol{
         top: 125px;
         left: 20%;
         position: absolute;
         font-family: Roboto;
         font-size: 16px;
         font-weight: 500;
         font-family: Roboto;
         line-height: 26px;
         letter-spacing: 0.03em;
         text-align: center;
         color: var(--options-buttons-color);
         background-color: var(--white-color);
         }
      .options_hover_back:hover{
            background-color: var(--bttn-backcolor);
            color: var(--white-color);
         }
   
