:root{
 --bttn-backcolor: rgb(0, 120, 242);
 --ftter-backcolor:#2e333b;
 --teamcard-box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 --port-cardbox: 0px 1px 3px rgba(194, 194, 194, 0.12), 0px 1px 1px rgba(255, 243, 243, 0.14), 0px 2px 1px rgba(197, 197, 197, 0.2);
}
body {
   font-family: sans-serif;
}

a:link {
   text-decoration: none;
}
footer{
   margin-bottom: -20px;
   margin-top: -16px;
   margin-left: -10px;
   width:101.2%;
   background-color:var(--ftter-backcolor);
   height:320px;
}
h3{
text-align: center;
}
ul {
   list-style-type: none;
}
button {
   background-color:var(--bttn-backcolor);
   color: white;
   padding-top: 20px;
   padding-left: 45px;
   padding-right: 45px;
   padding-bottom: 20px;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   font-family: sans-serif;
   letter-spacing: 1px;
}

header {
   margin-top: 15px;
}


.heds {
   color: blue;
}

.adec2 {

   padding-right: 45px;
}

.bold1,
.bold2, 
.bold3, 
.bold4{
   font-weight: bold;
}
.bold1{
margin-left: -1020px;
   }
.bold2{
   margin-left: -333px;
   margin-top: -130px;
   }
.bold3{
      margin-left: 380px;
      margin-top: -111px;
   }
.bold4{
         margin-left: 1070px;
         margin-top: -113px;
   }
.leftp1,
.leftp2,
.leftp3,
.leftp4{
   color: rgb(100, 100, 100);
}
.leftp1{
margin-left: 148px;
}
.leftp2{
margin-left: 500px;
}
.leftp3{
margin-left: 876px;}
.leftp4{
margin-left: 1186px;}
.aligner,
.aligner1{
   text-align: center;
   align-self: center;
   user-select: none;
   color: transparent;
}

.adec1 {
   color: black;
   text-decoration: none;
   margin-left: 25px;
   margin-right: 25px;
}
.adec2 {
   color: black;
   text-decoration: none;
   margin-left: 25px;
   margin-right: 25px;
   padding-right: 45px;
}
.adec12 {
   color: black;
   text-decoration: none;
   margin-left: 25px;
   margin-right: 25px;
   font-weight: bold;
}

.adec1:hover,
.adec2:hover {
   color: blue;
}



.ulhead1,
.ulhead2,
li,
span,
.ulmain {
   display: inline;
}

.ulhead2 {
   margin-left: 235px;
   color: grey
}

.ulhead1 {
   margin-left: -25px;
}

.tophypers {
   display: inline;
   font-family: sans-serif;
}

.headmrgn {
   margin-right: 55px;
   margin-left: 223px;
   color:rgb(26, 26, 26);
   text-decoration: none;
}


.mainsec {
   align-items: center;
   text-align: center;
   background-color: #212121;
   color: white;
   margin-top: 16px;
   margin-left: -10px;
   position: absolute;
   width: 100%;
   height: 583px;

}

.hmainup {
   margin-top: 195px;
   font-size: 45px;
}
.hmaindown {
   margin-top: 195px;
   font-size: 45px;
   text-align: center;
}
.hmaindown2 {
   margin-top: 195px;
   font-size: 45px;
   text-align: center;
}

.mainli{
margin-left: 165px;
}
.ib{
   display: inline-block;
   margin-left:135px;
}
.div1{
   position: relative;
   display: inline-block;
   top: 2px;
   left: 205px;
   margin-top: 14px;
}
.div2{
   position: relative;
   display: inline-block;
    top: -16px;
   left: 265px;
}
.div3{
   position: relative;
   display: inline-block;
   top: -16px;
   left: 290px;
}
.div4{
   position: relative;
   display: inline-block;
   
   left: 320px;
}
.div1,
.div2,
.div3,
.div4{
color:grey
}
.img1,
.img2,
.img3{
   width:300px;
   height: 300px;
 margin-top:30px ;

}
.img1,
.img3   {
   margin-left: 135px;
}
.img2{
   margin-left: 125px;
}
.lowdiv{
background-color: #F5F4FA;
width: 101.2%;
height: 923px;
text-align: center;
margin-top:120px;
margin-left: -10px;

}
.h1low{
padding-top: 110px;
padding-bottom: 15px;
font-size:39px;
}
.imgdown1,
.imgdown2,
.imgdown3,
.imgdown4{
width: 270px;
height: 260px;
position:absolute;
}
.imgdown1{
   margin-left:-650px;

}
.imgdown2{
   margin-top: -436px;
 margin-left: -283px;
}
.imgdown3{
   margin-top: -436px;
 margin-left: 63px;
}
.imgdown4{
   margin-top: -436px;
 margin-left: 403px;
}
.title{
text-align: center;
}
.divdown1,
.divdown2,
.divdown3,
.divdown4{
text-align: center;
background-color: white;
padding-top:5px;
width: 270px;
height: 140.75px;
}
.teamcard{  
   box-shadow:var(--teamcard-box);

}
.divdown1{
padding-top:293px;
margin-left: 90.7px;
}
.divdown2{
margin-left: 457.7px;
margin-top: -178px;
padding-top:38px;
   }
.divdown3{
   margin-left: 803.7px;
   margin-top: -178px;
   padding-top:38px;
   }
.divdown4{
   margin-left: 1143.7px;
   margin-top: -178px;
   padding-top:38px;
   }
.spanprtfl

   
.ftblue{
   color:blue;
}

.ftpad{
position: absolute;
margin-top: 81px;
margin-left: 120px;
}
.aft{
   font-family:  'Raleway'sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: white;
   margin-left: 77px;

}
.linkusya{
   color:white;
   margin-left: 157px;
   margin-top: 145.5px;
   position: absolute;
}
.linkusya:hover{
   color:#2e8ddb; 
}
.afoot1{
color:gray;
margin-left: 157px;
margin-top: 163px;
position: absolute;
}
.afoot2{
   color:gray;
   margin-left: 157px;
   margin-top: 177.5px;
   position: absolute;
   }
.afoot1:hover{
   color:blue;
   }
.afoot2:hover{
   color:blue;
   }
 



hr{
margin-top: 25px;
width: 100%;
color: gray;
}
.headerport{
padding-top: 6.5px;
}
.spanprtfl{
top: 125px;
left: 24%;
position: absolute;
}
.btnportfl{
background-color: rgb(245,244,250);
color: black;
font-weight: bold;
}
.btnportfl:hover{
background-color: #2e8ddb;
}
.mainport{
   margin-top: 180px;
   text-align: center;
   align-self: center;
   margin-left: 16%;
}
.divdown1port,
.divdown2port,
.divdown3port
{
   text-align: left;
   border: 1px solid gray;
   padding-top:5px;
   width: 269px;
   height: 140.75px;
   margin-bottom:10px ;
}

.divdown1port{

   padding-top:260px;
   margin-left: 1px;
   margin-bottom: 55px;
   padding-bottom: -25px;
   height: 99px;
}
.divdown2port{
   padding-top: 38px;
   margin-left: 328px;
   margin-top: -199px;
   height: 104.75px;

}
.divdown3port{
   margin-left: 656px;
   margin-top: -212px;
   padding-top:99px;
   width: 268px;
   padding-bottom: -26px;
   height: 101.75px;
}
.divdown1_2port,
.divdown2_2port,
.divdown3_2port
{
   text-align: left;
   border: 1px solid gray;
   padding-top:5px;
   width: 269px;
   height: 140.75px;
   margin-bottom:10px ;
}

.divdown1_2port{

   padding-top:260px;
   margin-left: 1px;
   margin-bottom: 55px;
   padding-bottom: -25px;
   height: 100px;
   margin-top: 50px;
}
.divdown2_2port{
   padding-top: 59px;
   margin-left: 328px;
   margin-top: -219px;
   height: 100.75px;

}
.divdown3_2port{
   margin-left: 656px;
   margin-top: -212px;
   padding-top:99px;
   width: 268px;
   padding-bottom: -26px;
   height: 101.75px;
}
.titleporth3{
   text-align: left;
   padding-left: 5px;
   }
   .titleportp{
      text-align: left;
      padding-left: 5px;
      color: grey;  
   }
   .titleportp1{
      text-align: left;
      padding-left: 5px;
      margin-top: -10px;
      color: grey;  
   }
.teamcardport{  
   box-shadow: var(--port-cardbox);
   text-align:left;

   }
   .imgdown1port,
   .imgdown2port,
   .imgdown3port{
      width: 270px;
height: 260px;
position:absolute;
   }
   .imgdown1port{
      margin-left:-610px;
      
   }
   .imgdown2port{
      margin-top: -417px;
      margin-left: -283px;
     
   }
   .imgdown3port{
      margin-top: -371px;
      margin-left: 45px;
   }
   .imgdown1_2port,
   .imgdown2_2port,
   .imgdown3_2port{
      width: 270px;
height: 260px;
position:absolute;
   }
   .imgdown1_2port{
      margin-left:-610px;
  margin-top: 40px;
   }
   .imgdown2_2port{
      margin-top: -417px;
      margin-left: -283px;
     
   }
   .imgdown3_2port{
      margin-top: -370px;
      margin-left: 45px;}
      .ulmarg{
         margin-bottom: 75px;
      }
